<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    
    <div class="col-md-6 text-end text-align:center social-media-icons">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="ms-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
      {% endfor %}
      <p style="margin-left: 20em;"> Aylin Kosar &copy;2022 </p>
      <p style="margin-left: 30em;"> Created with the <a href="https://lenpaul.github.io/academic/"> academic </a> theme</p>  
    </div>

  </div>
</footer>
