@import url(‘https://fonts.googleapis.com/css2?family=Alice&family=DM+Sans:wght@400;500;700&display=swap’);

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont:  "DM Sans", "Alice", Helvetica, sans-serif);

$linkColor: #212529 !important;

body a {
  Color: $linkColor;
  text-decoration:none;
  border-bottom: 4px solid #dde9e5;
}

body a:hover {
  text-decoration:none;
  background-color: #dde9e5;
  border-bottom: none;
}

tbody, td, tfoot, th, thead, tr {
    border-color:#dad9d8;
    border-width: thin;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    line-height: 3rem;
}

