---
layout: default
---

{{ content }}

<p class="text" style="text-align:center"> (Images Left to Right) Cat in Büyükada Island , Princes' Islands, Istanbul (2017); Canakkale City Center (2017); Weehawken, NJ, USA (2021); Machu Picchu (2021); Salt Mines in Maras, Cusco (2021); Sky in Paracas (2021). </p>

 <center>
 <br></br>

  <img src="assets/img/Cat-Istanbul Island.jpeg" alt="Cat-Istanbul Island" width="520" height="500"></li>
  <img src="assets/img/Canakkale City Center.jpeg" alt="Canakkale City Center" width="520" height="500"></li>

  <br></br>

 
  <img src="assets/img/NJ Sky.jpeg" alt="NJ Sky" width="520" height="500"</li>
  <img src="assets/img/Machu Picchu.jpeg" alt="Machu Picchu" width="520" height="500"></li>

  <br></br>


  <img src="assets/img/Maras Salt Mine.jpeg" alt="Maras Salt Mine" width="520" height="500"></li>
  <img src="assets/img/Paracas.jpeg" alt="Paracas" width="520" height="500"></li>

</ul>
</center>
