---
layout: default
---

{{ content }}

<h3 class="fw-bold" style="text-align:center"> </h3>

  <img src="assets/img/Cat-Istanbul Island.jpeg" alt="Cat-Istanbul Island" width="510" height="500"></li>
  <img src="assets/img/Machu Picchu.jpeg" alt="Machu Picchu" width="500" height="500"></li>
  <figcaption style='text-align: center;'> Cat in Büyükada Island, Princes' Islands, Istanbul. </figcaption>
  <figcaption style='text-align: center;'> Machu Picchu, November 2021. </figcaption>

  <img src="assets/img/Canakkale City Center.jpeg" alt="Canakkale City Center" width="500" height="500"></li>
  <img src="assets/img/Canakkale - Bird.jpeg" alt="Canakkale - Bird" width="500" height="500"></li>
  <figcaption style='text-align: center;'> Bird flying near Ferry in Canakkale City Center </figcaption>
  <figcaption style='text-align: center;'> Canakkale City Center </figcaption>

  <img src="assets/img/NJ Sky.jpeg" alt="NJ Sky" width="500" height="500"</li>
  <img src="assets/img/Alpaca-Cusco.jpeg" alt="Alpaca-Cusco" width="500" height="570"></li>
  <figcaption style='text-align: center;'> Weehawken, NJ, USA </figcaption>
  <figcaption style='text-align: center;'> Alpaca in Cusco </figcaption>

  <img src="assets/img/Maras Salt Mine.jpeg" alt="Maras Salt Mine" width="500" height="570"></li>
  <img src="assets/img/Paracas.jpeg" alt="Paracas" width="500" height="500"></li>
  <figcaption style='text-align: center;'> Salt Mines in Maras, Cusco </figcaption>
  <figcaption style='text-align: center;'> Sky in Paracas </figcaption>

</ul>
