---
layout: default
---

{{ content }}

<p class="text" style="text-align:center"> (Images Left to Right) Cat in Büyükada Island, Princes' Islands, Istanbul; Machu Picchu, November 2021;
  Bird flying near Ferry in Canakkale City Center; Canakkale City Center;  Weehawken, NJ, USA; Alpaca in Cusco; Salt Mines in Maras, Cusco; Sky in Paracas. </p>

  <br>

  <img src="assets/img/Cat-Istanbul Island.jpeg" alt="Cat-Istanbul Island" width="510" height="500"></li>
  <img src="assets/img/Machu Picchu.jpeg" alt="Machu Picchu" width="500" height="500"></li>

  <br>

  <img src="assets/img/Canakkale City Center.jpeg" alt="Canakkale City Center" width="500" height="500"></li>
  <img src="assets/img/Canakkale - Bird.jpeg" alt="Canakkale - Bird" width="500" height="500"></li>

  <br>

  <img src="assets/img/NJ Sky.jpeg" alt="NJ Sky" width="500" height="500"</li>
  <img src="assets/img/Alpaca-Cusco.jpeg" alt="Alpaca-Cusco" width="500" height="500"></li>

  <br>

  <img src="assets/img/Maras Salt Mine.jpeg" alt="Maras Salt Mine" width="500" height="500"></li>
  <img src="assets/img/Paracas.jpeg" alt="Paracas" width="500" height="500"></li>

</ul>
