---
layout: default
---

{{ content }}

<h3 class="fw-bold" style="text-align:center"> Writing & Research</h3>
<p class="text" style="text-align:center"> Below is a sample of my publication titled Determining the Main Factors for Recidivism in Boston.</p>
  <img src="assets/img/Paper-Abstract.png" alt="Paper-Abstract" width="500" height="400"></li>
  <img src="assets/img/Paper-Intro.png" alt="Paper-Intro"  width="400" height="470"></li>

<p class="text" style="text-align:center"> Outside of academia, I have been working on a site that will inform individuals how to use R, Python, and Tableau. Here are samples of my work so far.</p>
  <img src="assets/img/R Intro.png" alt="R Intro" width="400" height="470"></li>
  <img src="assets/img/Tableau.png" alt="Tableau" width="470" height="400"></li>
  <img src="assets/img/Resources.png" alt="Resources" width="400" height="440"></li>
</ul>

<br></br>

<h3 class="fw-bold" style="text-align:center"> Data Analytics</h3>
<p class="text" style="text-align:center"> Sample of some data analytics I have done in the past.</p>
  <img src="assets/img/Data Analytics.png" alt="Data Analytics" width="400" height="400"></li>
</ul>

<br></br>

<h3 class="fw-bold" style="text-align:center"> Travel Planing</h3>
<p class="text" style="text-align:center"> Below are two types of sample documents on travel planning.</p>
  <img src="assets/img/Sample Trip- Board Style.png" alt="Sample Trip- Board Style" width="450" height="400"></li>
  <img src="assets/img/Sample Trip - Spreadsheet Style.png" alt="Sample Trip - Spreadsheet Style" width="450" height="400"></li>
</ul>


