---
layout: default
---

{{ content }}

<h3 class="fw-bold" style="text-align:center"> Writing & Research</h3>
<p class="text" style="text-align:center"> Below is a sample of my publication titled <b>Determining the Main Factors for Recidivism in Boston</b>.</p>
<center>
  <img src="assets/img/Paper-Intro.png" alt="Paper-Intro"  width="600" height="670"></li>
</center>
  
<p class="text" style="text-align:center"> Other than academic work, I worked on a project named <b>Data in Wonderland</b>that helps individuals learn R, Python, and Tableau. <i>For the link to the project, please see the <a href="https://aylinko.github.io/work">Work</a> page.</i></p>
<center>
<ul class="grid-auto-md gap-sm">
  <img src="assets/img/R Intro.png" alt="R Intro" width="500" height="570"></li>
  <img src="assets/img/Tableau.png" alt="Tableau" width="540" height="350"></li>
  <img src="assets/img/Resources.png" alt="Resources" width="440" height="500"></li>
</center>
</ul>

<br></br>

<h3 class="fw-bold" style="text-align:center"> Travel Planing</h3>
<p class="text" style="text-align:center"> I have experience creating wonderful trips for myself and my family, from getting the airline tickets to where to stay and what to do. Below are two sample documents of what someone might expect from me if they allow me to plan a trip for them or help them research one.  Either document will be fully customized to the person and will be shared as a private link or downloaded as a PDF and will have the important documents attached together. 
</p>
<center>
  <img src="assets/img/Sample Trip- Board Style.png" alt="Sample Trip- Board Style" width="900" height="500"></li>
  <img src="assets/img/Sample Trip - Spreadsheet Style.png" alt="Sample Trip - Spreadsheet Style" width="800" height="530"></li>
</center>
</ul>

<br></br>

<h3 class="fw-bold" style="text-align:center"> Photography </h3>
<p class="text" style="text-align:center"> (Images Left to Right) Sleeping Cat in Büyükada Island , Princes' Islands, Istanbul (2017); Canakkale City Center (2017); Weehawken, NJ, USA (2021); Machu Picchu (2021); Salt Mines in Maras, Cusco (2021); Sky in Paracas (2021). </p>

 <center>
 <br></br>

  <img src="assets/img/Cat-Istanbul Island.jpeg" alt="Cat-Istanbul Island" width="520" height="500"></li>
  <img src="assets/img/Canakkale City Center.jpeg" alt="Canakkale City Center" width="520" height="500"></li>

  <br></br>

  <img src="assets/img/NJ Sky.jpeg" alt="NJ Sky" width="520" height="500"</li>
  <img src="assets/img/Machu Picchu.jpeg" alt="Machu Picchu" width="520" height="500"></li>

  <br></br>

  <img src="assets/img/Maras Salt Mine.jpeg" alt="Maras Salt Mine" width="520" height="500"></li>
  <img src="assets/img/Paracas.jpeg" alt="Paracas" width="520" height="500"></li>

  <br></br>

  <img src="assets/img/eros-budha-set2.jpg" alt="Eros Set" width="520" height="340"></li>
  <img src="assets/img/pegasus-navy-2.jpg" alt="Pegasus Towel" width="520" height="340"></li>

  <br>

  <img src="assets/img/waffle-robe6.jpeg" alt="Waffle Robe" width="520" height="350" style="margin-right: 48.5%; margin-top: 2%;"></li>
  <img src="assets/img/eros-robe1.jpg" alt="Eros Robe" width="200" height="350" style="margin-top: -35%; margin-left: 18.8%;"></li>

</ul>
</center>

