---
layout: default
---

{{ content }}

<h3 class="fw-bold"> R Visualizations</h3>

<ul class="grid-auto-md gap-sm">
  <img class="block width-200%" src="assets/img/Bar Plot r.png" alt="Bar Plot r"></li>
  <img class="block width-200%" src="assets/img/Bar Plot r 2.png" alt="Bar Plot r 2"></li>
  <img class="block width-100%" src="assets/img/barplot_r.png" alt="barplot_r"></li>
  <img class="block width-100%" src="assets/img/Boxplot ggplot2.png" alt="Boxplot ggplot2"></li>
  <img class="block width-100%" src="assets/img/Boxplot baseR.png" alt="Boxplot baseR"></li>
  <img class="block width-100%" src="assets/img/Pie Chart ggplot2.png" alt="Pie Chart ggplot2"></li>
  <img class="block width-100%" src="assets/img/Pie Chart Base R.png" alt="Pie Chart Base R"></li>
  <img class="block width-100%" src="assets/img/Scatterplot r.png" alt="Scatterplot r"></li>
  <img class="block width-100%" src="assets/img/Scatterplotr_annotated.png" alt="Scatterplotr_annotated"></li>
  <img class="block width-100%" src="assets/img/kableExtra R Table" alt="kableExtra R Table"></li>
  <img class="block width-100%" src="assets/img/gt R Table.png" alt="gt R Table.png"></li>
</ul>


