---
layout: default
---

{{ content }}

<h3 class="fw-bold"> Visualizations Created with R</h3>

<ul class="grid-auto-md gap-sm">
  <img src="assets/img/Bar Plot r.png" alt="Bar Plot r" width="%20"></li>
  <img src="assets/img/Bar Plot r 2.png" alt="Bar Plot r 2" width="%20"></li>
  <img src="assets/img/barplot_r.png" alt="barplot_r" width="%20"></li>
  <img src="assets/img/Boxplot ggplot2.png" alt="Boxplot ggplot2" width="30px"></li>
  <img src="assets/img/Box Plot baseR.png" alt="Boxplot baseR" width="100"></li>
  <img src="assets/img/Pie Chart ggplot2.png" alt="Pie Chart ggplot2" width="100"></li>
  <img src="assets/img/Pie Chart Base R.png" alt="Pie Chart Base R" width="100"></li>
  <img src="assets/img/Scatterplot r .png" alt="Scatterplot r" width="100"></li>
  <img src="assets/img/Scatterplotr_annotated.png" alt="Scatterplotr_annotated" width="100"></li>
  <img src="assets/img/kableExtra R Table.png" alt="kableExtra R Table" width="100"></li>
  <img src="assets/img/gt R Table.png" alt="gt R Table.png" width="100"></li>
</ul>


