---
layout: default
---

{{ content }}

<h4 class="fw-bold"> Below is a showcase of my best visualizations and recent work. </h4>

<h3 class="fw-bold"> Visualizations Created with R - ggplot2</h3>
  <img src="assets/img/Bar Plot r.png" alt="Bar Plot r" width="500" height="570"></li>
  <img src="assets/img/Bar Plot r 2.png" alt="Bar Plot r 2"  width="400" height="470"></li>
  <img src="assets/img/Boxplot ggplot2.png" alt="Boxplot ggplot2" width="400" height="470"></li>
  <img src="assets/img/Pie Chart ggplot2.png" alt="Pie Chart ggplot2" width="400" height="440"></li>
  <img src="assets/img/Scatterplot r .png" alt="Scatterplot r" width="400" height="490"></li>
  <img src="assets/img/Scatterplotr_annotated.png" alt="Scatterplotr_annotated" width="400" height="470"></li>
</ul>

<br></br>

<h3 class="fw-bold"> Visualizations Created with R - Base R</h3>
  <img src="assets/img/Box Plot baseR.png" alt="Boxplot baseR" width="400" height="470"></li>
  <img src="assets/img/Pie Chart Base R.png" alt="Pie Chart Base R" width="400" height="450"></li>
</ul>

<br></br>

<h3 class="fw-bold"> Table Visualizations Created with R - kableExtra & gt</h3>
  <img src="assets/img/kableExtra R Table.png" alt="kableExtra R Table" width="500" height="570"></li>
  <img src="assets/img/gt R Table.png" alt="gt R Table.png" width="500" height="570">
</ul>
</ul>

<br></br>

<h3 class="fw-bold"> Geospatial Visualizations Created with R - Leaflet</h3>
<ul class="grid-auto-md gap-sm">
  <img src="assets/img/Leaflet Map3.png" alt="Leaflet Map3" width="550" height="570"></li>
  <img src="assets/img/Leaflet Map2.png" alt="Leaflet Map2"  width="500" height="570"></li>
  <img src="assets/img/Leaflet Map.png" alt="Leaflet Map" width="500" height="570"></li>
</ul> 

<br></br>

<h3 class="fw-bold"> Visualizations Created with Python - Seaborn</h3>
<ul class="grid-auto-md gap-sm">
  <img src="assets/img/CrimePoliceDistrictSF.png" alt="CrimePoliceDistrictSF" width="500" height="570"></li>
  <img src="assets/img/CrimeLANeighborhood_python (2).png" alt="CrimeLANeighborhood_python (2)" width="500" height="570"></li>
</ul>

<br></br>

<h3 class="fw-bold"> Visualizations Created with Tableau </h3>
<ul class="grid-auto-md gap-sm">
  <img src="assets/img/Tableu Chloroploth Map.png" alt="Tableu Chloroploth Map" width="500" height="570"></li>
  <img src="assets/img/Boston Tableau Map.png" alt="Boston Tableau Map" width="500" height="570"></li>
  <img src="assets/img/Dashboard Example.png" alt="Dashboard Example" width="600" height="670"></li>
</ul>

<br></br>

<h3 class="fw-bold"> Geospatial Visualizations Created with QGIS & Adobe Illustrator </h3>
<ul class="grid-auto-md gap-sm">
  <img src="assets/img/weekend10.svg" alt="weekend10"  width="600" height="570">
</ul>

